<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Web Application</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
              <a href="/" class="navbar-logo">DiaryBLOGS</a>
              <ul class="navbar-menu">
                <li class="navbar-item">
                  <a href="/" class="navbar-link">Blogs</a>
                </li>
                <li class="navbar-item">
                  <a href="/Post" class="navbar-link">Post</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
  <main>