
<%-include("partials/header.ejs") %>
<h1>Welcome to your Blog page, read some of your recent blogs:</h1>
<div class="blogs">
   <a > <%=locals.title %></a>
   

</div>

<%-include("partials/footer.ejs") %>
